name: Maven Build

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Show Maven version
        run: mvn -version

      - name: Maven Validate
        run: mvn validate

      - name: Maven Compile
        run: mvn compile

      - name: Maven Test
        run: mvn test

      - name: Maven Package (JAR creation)
        run: mvn package

      - name: Show target directory
        run: ls -l target

      
      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: demo-jar
          path: target/*.jar

      - name: Maven Verify
        run: mvn verify

      - name: Maven Install
        run: mvn install

      - name: Maven Deploy
        run: echo "Maven deploy phase executed (printed only)"

      - name: Maven Clean
        run: mvn clean

      - name: Maven Site
        run: mvn site
